.pad {
  width: 300px;
  /* background: aquamarine; */
  height: 100px;
}.display {
  width: 300px;
  background: aquamarine;
  height: 100px;
}button.button {
  padding: 32px;
}button.button:last-child {
  background: red;
  width: 100%;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 20px;
}.input {
  font-size: 20px;
  padding: 10px;
}